{{ partial:layout/section }}

  {{ partial:components/media/visual image="creative-factory-rue-de-chene-interieure" alt="" }}

  <section class="bg-white">

    {{ partial:layout/inner class="py-20 md:py-40 xl:py-60" }}

      <h1 class="max-w-2xl">Appartements</h1>

      <div class="lg:grid lg:grid-cols-12 lg:gap-15 xl:gap-30">
        <div class="lg:col-span-6 flex flex-col space-y-20 xl:space-y-40">
          {{ partial:components/misc/construction-table title="Revêtements de sol" }}
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Sol dans l'appartement
              </div>
              <div class="sm:text-right">
                chape poncée vitrifiée, gris clair
              </div>
            </div>
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Pièce atelier<br>(pour les appartements qui en ont une)
              </div>
              <div class="sm:text-right">
                parquet chant-debout vitrifié
              </div>
            </div>
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Salles d'eau
              </div>
              <div class="sm:text-right">
                dalles céramiques, gris moyen
              </div>
            </div>
          {{ /partial:components/misc/construction-table }}

          {{ partial:components/misc/construction-table title="Revêtements muraux et plafonds" }}
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Murs de séparations
              </div>
              <div class="sm:text-right">
                lissage, peint en blanc,<br>et parois revêtues de bois
              </div>
            </div>
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Mur de façade
              </div>
              <div class="sm:text-right">
                béton, peint en gris clair
              </div>
            </div>
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Plafond
              </div>
              <div class="sm:text-right">
                béton, peint en gris clair
              </div>
            </div>
          {{ /partial:components/misc/construction-table }}

          {{ partial:components/misc/construction-table title="Cuisine" byline="Cuisine agencée et équipée en appareils électroménagers, marque Miele." }}
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Couleurs
              </div>
              <div class="sm:text-right">
                anthracite et vis-à-vis<br>anthracite ou anthracite et vis-à-vis blanc<br>et exception : blanc
              </div>
            </div>
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Entre-meubles
              </div>
              <div class="sm:text-right">
                crédence anthracite
              </div>
            </div>
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Plan de travail
              </div>
              <div class="sm:text-right">
                quartz anthracite
              </div>
            </div>
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Cuisinière
              </div>
              <div class="sm:text-right">
                induction
              </div>
            </div>
          {{ /partial:components/misc/construction-table }}

          {{ partial:components/misc/construction-table title="Salle de bains" }}
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Revêtements de sol
              </div>
              <div class="sm:text-right">
                dalles céramiques, gris moyen
              </div>
            </div>
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Parois
              </div>
              <div class="sm:text-right">
                2 murs en carreaux céramiques anthracite,<br>2 murs lissage, peint en gris
              </div>
            </div>
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Plafond
              </div>
              <div class="sm:text-right">
                plâtre, peint en gris idem murs
              </div>
            </div>
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Appareils sanitaires
              </div>
              <div class="sm:text-right">
                céramique blanche
              </div>
            </div>
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Robinetterie
              </div>
              <div class="sm:text-right">
                chrome
              </div>
            </div>
            <p>Logements majoritairement avec baignoire et rail rideau. Exceptions : appartements communautaires 03A02 et 02A02 : douche avec cabine de douche / 01D00 et 02D00 douches avec rail de rideau Raccordements pour l’ajout d’une tour de lavage (sauf appartements étudiants 01D00 et 02D00, buanderie au sous-sol).</p>
          {{ /partial:components/misc/construction-table }}
        </div>
        <div class="lg:col-span-6 flex flex-col space-y-20 xl:space-y-40">
          {{ partial:components/misc/construction-table title="Surface extérieure" }}
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Sol de la place assise
              </div>
              <div class="sm:text-right">
                dalles de ciment
              </div>
            </div>
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Sol balcon
              </div>
              <div class="sm:text-right">
                dalle en béton, monobéton, visible
              </div>
            </div>
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Balustrade du balcon
              </div>
              <div class="sm:text-right">
                profilés creux en métal, revêtus par poudre
              </div>
            </div>
          {{ /partial:components/misc/construction-table }}

          {{ partial:components/misc/construction-text title="Fenêtres" }}
            <p>Fenêtres en bois-métal, peint en fris et laquées au four en argentée</p>
          {{ /partial:components/misc/construction-text }}

          {{ partial:components/misc/construction-table title="Stores et protection solaire" }}
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Fenêtres
              </div>
              <div class="sm:text-right">
                stores à lamelles inclinables,<br>motorisés, argentés
              </div>
            </div>
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Balcons
              </div>
              <div class="sm:text-right">
                stores à toiles de protection solaire,<br>manoeuvre manuelle, rouges
              </div>
            </div>
          {{ /partial:components/misc/construction-table }}
          
          {{ partial:components/misc/construction-table title="Installations électriques" byline="Interphone, contrôle d’accès entrée principale par lecteur puce et digicode." }}
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Meubles de cuisine
              </div>
              <div class="sm:text-right">
                bandes LED au-dessus des plans de travail,<br>prise commandée sous dalle pour plafonnier
              </div>
            </div>
            <div class="flex flex-col sm:gap-y-0 sm:flex-row justify-between gap-x-10 border-b border-b-black pb-4 sm:pb-2">
              <div class="font-bold">
                Fibre optique
              </div>
              <div class="sm:text-right">
                dans chaque appartement, le locataire choisit<br>lui-même entre les fournisseurs et<br>souscrit un abonnement
              </div>
            </div>
            <p>Tableau électrique et multimédia dans chaque logement. Prises de courant, partiellement avec USB et multimédia, en nombre suffisant. Prises commandées en haut des parois pour plafonniers en nombre suffisant.</p>

          {{ /partial:components/misc/construction-table }}

          {{ partial:components/misc/construction-text title="Installations de chauffage et de ventilation" }}
            <p>Raccordement au chauffage à distance de Renens, chauffage au sol. La production d'eau chaude est assurée par un chauffe-eau à accumulation. Chaque appartement individuel est ventilé mécaniquement au moyen d'une ventilation contrôlée à simple flux. Des unités de ventilation centrales sont prévues à cet effet dans les locaux techniques au sous-sol.</p>
          {{ /partial:components/misc/construction-text }}
          {{ partial:components/misc/construction-text title="Cave" }}
            <p>Certains appartements ont un cellier/rangement dans l’appartement et donc pas de cave. Les autres ont une cave, dont certaines se trouvent dans le sous-sol du petit bâtiment D (pavillon). Les deux appartements étudiants du pavillon n’ont pas de cave.</p>
          {{ /partial:components/misc/construction-text }}

        </div>
      </div>

    {{ /partial:layout/inner }}

  </section>

{{ /partial:layout/section }}