{{ partial:layout/section }}

  {{ partial:components/media/visual image="creative-factory-rue-de-chene-historique" alt="" }}

  <section class="bg-white">

    {{ partial:layout/inner class="py-20 md:py-40 xl:py-60" }}

      <div>
        <h1 class="max-w-2xl">Historique</h1>
        <div class="flex flex-col gap-y-30 md:grid md:grid-cols-12 md:gap-15 xl:gap-30">
          <div class="md:col-span-8 xl:col-span-7">
            <p><strong>Un certain nombre de vestiges du passé du site seront laissés en place, notamment les portails et le tourniquet, ainsi que des plateformes élévatrices devant les quais. Le caractère et la matérialisation des aménagements extérieurs s’inscrivent également dans le souhait de témoigner de l’ancien usage industriel du site.</strong></p>
            <p>L’esthétique industrielle est recherchée pour faire renaître les traces du passé. L’usage de matériaux recyclés, la valorisation de certains vestiges, le recours à une végétation extensive de type pionnier affirmeront le concept choisi. La façade sud de Creative Factory, très hétéroclite, sera doublée d’une structure métallique légère sur toute la longueur en témoignage du passé logistique du site. La verdure s’invitera également sur les façades de façon intense au niveau du parking et de façon anecdotique sur la strate des balcons.</p>
            <p>L’approche architecturale a tenu compte de sa singularité pour la rénovation de la façade du Pavillon. Elle sera donc en lames verticales de bois pré-grisé avec des éléments métalliques en gris argenté.</p>
            <h2>Réutilisation des matériaux durant le démontage intérieur</h2>
            <p>Dans le cadre de la démarche de réemploi et de transformation de ce site industriel, une collaboration avec divers acteurs du développement durable a été mise en place. L’association Materiuum, située à Genève, nous a accompagné dans la sélection des éléments de second oeuvre à réutiliser selon leur état, leur fonctionnalité et la possibilité de trouver un repreneur pour ces matériaux. En quelques chiffres, 3'900 m2 de faux-planchers et dalles de plafond, 70 poignées de porte, 52 luminaires, 170 radiateurs, 250 poutres et poteaux en bois et 680 tuiles ont été récupérés.</p>
            <p>Le gain a été environnemental et non économique. Les matériaux récupérés ont été vendus sur le site de la «ressourcerie» de Materiuum ou donnés, comme dans le cas des faux- planchers, à une société qui a un réseau de redistribution de matériaux usagés.</p>
            <p>En outre dans ce projet, des poutres métalliques pour le «mobilier» des aménagements extérieurs, et des morceaux de dalles béton extraites du bâtiment, pour créer des dalles de chemin dans les aménagements extérieurs, seront réutilisés.</p>
          </div>
          <div class="md:col-span-4 xl:col-span-5 flex flex-col gap-y-15 xl:gap-y-30">
            {{ partial:components/media/image image="creative-factory-rue-de-chene-historique-1" alt="" }}
            {{ partial:components/media/image image="creative-factory-rue-de-chene-historique-2" alt="" }}
          </div>
        </div>
      </div>

    {{ /partial:layout/inner }}


  </section>
{{ /partial:layout/section }}