{{# {{ partial:layout/section }}
  {{ partial:components/swiper/wrapper }}
    {{ partial:components/swiper/slide image="creativefactory-renens.ch-2" alt="" }}
    {{ partial:components/swiper/slide image="creativefactory-renens.ch-1" alt="" }}
    {{ partial:components/swiper/slide image="creativefactory-renens.ch-3" alt="" }}
    {{ partial:components/swiper/slide image="creativefactory-renens.ch-4" alt="" }}
  {{ /partial:components/swiper/wrapper }}
{{ /partial:layout/section }} #}}

{{ partial:layout/section }}
{{ partial:layout/inner }}
  {{ partial:components/headings/h1 title="Creative Factory" }}
{{ /partial:layout/inner }}
{{ /partial:layout/section }}