{{ partial:layout/section }}

  {{ partial:components/media/visual image="creative-factory-rue-de-chene-exterieure" alt="" }}
  <section class="bg-white">
    {{ partial:layout/inner class="py-20 md:py-40 xl:py-60" }}

      <div class="max-w-3xl">
        <h1 class="max-w-2xl">Venez vivre l’expérience «Creative Factory»</h1>
        <article>
          <p>La transformation de la ville de Renens bat son plein grâce à l’expansion de la mobilité douce, avec l’arrivée du tramway entre Lausanne-Flon et la gare de Renens, ainsi que l’essor des hautes écoles et des entreprises. Au fil du temps et grâce au soutien et à la volonté de la Commune de Renens, les anciennes zones industrielles ont été transformées en quartiers d’habitations agréables parsemés d’espaces verts. Le projet de réhabilitation de l’immeuble du Chemin du Chêne, une des dernières friches industrielles de cette ville en mutation, a commencé à prendre forme il y a 4 ans déjà. Autrefois, l’immeuble industriel, utilisé pour le stockage et les bureaux, a vu défiler au cours des années toute une palette d’activités.</p>
          <p>Construit en 1954, le bâtiment principal, nommé Creative Factory, est un conglomérat de plusieurs édifices et ajouts successifs aménagés au fil du temps. Il a abrité à ses débuts une boulangerie, puis un centre de stockage pour la distribution de produits alimentaires et de mobilier, et enfin un centre administratif et de formation. Le quai de chargement situé à l’arrière de l’immeuble était autrefois directement relié à la voie de chemin de fer. Tandis que les quais de chargement en façade de l'immeuble permettaient aux camions de venir chercher leurs marchandises. Construit en 1954, l’immeuble en bordure de trottoir, nommé le Pavillon, servait autrefois de bureaux au personnel de conciergerie et de sécurité du site.</p>
        </article>
      </div>

    {{ /partial:layout/inner }}
  </section>

  {{ partial:components/media/visuals image_left="creative-factory-rue-de-chene-sans-silhouette-1"  image_right="creative-factory-rue-de-chene-sans-silhouette-2" }}
  <section class="bg-beige py-20 md:py-40 xl:py-60">
    {{ partial:layout/inner }}
      <div class="max-w-3xl">
        <h2>Venez vivre l’expérience «Creative Factory»</h1>
        <article>
          <p>Creative Factory est née avec la volonté architecturale de montrer le passé du bâtiment, mettant en avant la connotation industrielle du lieu, tout en assumant la contemporanéité du projet. La démolition intérieure minutieuse, avec une récupération partielle de certains matériaux, a débuté en septembre 2023, permettant de commencer les travaux de gros œuvre au début de l’année 2024. Le calendrier des travaux suivant son cours, la livraison des appartements et des aménagements extérieurs est prévue pour septembre 2025. Les travaux d’aménagement des surfaces dédiées à l’artisanat et au commerce se poursuivront encore quelques temps avec les finitions au gré des futurs locataires.</p>
          <p>Le bâtiment principal Creative Factory s'articule autour d'une rue intérieure éclairée à l’aide de 2 puits de lumière longitudinaux percés en toiture et de 4 espaces communs à double-hauteur, les orangeries, percés en façade nord du bâtiment. <strong>Côté voie de chemin de fer des ateliers et bureaux et côté parc des logements atypiques à caractère «loft- activité» verront ainsi le jour. Ceux-ci seront orientés du côté du parc pour bénéficier de l’exposition favorable, du dégagement visuel et du calme du nouveau jardin arboré. Le Pavillon accueillera des logements en colocation, ainsi que des activités ouvertes au public en rez-de-chaussée.</strong></p>
          <p>L’espace extérieur, anciennement dédié aux camions de transport et à la circulation routière, disparaîtra pour faire place à un parc verdoyant. De plus, des arbres seront plantés sur une large bande longeant la limite parcellaire. Cette bande boisée constituera un filtre végétal entre le bâtiment et la route, et des jeux, tables et bancs y seront intégrés.</p>
        </article>
      </div>
    {{ /partial:layout/inner }}
  </section>

  <section class="bg-white py-20 md:py-40 xl:py-60">
    {{ partial:layout/inner }}
      <div class="max-w-3xl">
        <article>
          <p><strong>La matérialisation intérieure mettra en valeur les volumes existants par une lecture simple des structures en béton mises en contraste par la chaleur du bois apportée par les «boîtes». Les appartements, caractérisés sous forme de «loft», offriront un panel de typologies et tailles allant de 1.5 à 7 pièces, de 40 m<sup>2</sup> pour les plus petits à 240 m<sup>2</sup> pour les clusters à partager. Les locaux d’activités, quant à eux, offriront des espaces allant de 32 m<sup>2</sup> à 157 m<sup>2</sup>.</strong></p>
          <p>La conception des appartements fera la part belle aux matériaux de qualité et contemporains. Que ce soit avec les chapes poncées et vitrifiées au sol, une salle de bains mêlant métal et tons profonds, ou une cuisine épurée et ouverte sur l’espace salon, ces éléments rappelleront le passé industriel du site. Un accent chaleureux sera apporté par la pièce bâtie en bois, conférant à l’ensemble un agréable espace de vie. Les grandes fenêtres vitrées donnant sur le balcon apporteront une belle luminosité à l’ensemble.</p>
        </article>
      </div>
    {{ /partial:layout/inner }}
  </section>
{{ /partial:layout/section }}