{{ partial:layout/section }}

  {{ partial:components/media/visual image="creative-factory-rue-de-chene-perspective-interieure" alt="" }}

  <section class="bg-white">

    {{ partial:layout/inner class="py-20 md:py-40 xl:py-60" }}

      <div class="max-w-3xl">
        <h1 class="max-w-2xl">Situation</h1>
        <p>Le bâtiment Creative Factory se situe dans un quartier en plein essor, qui se distingue par sa situation idéale, proche de la gare et du futur tramway qui reliera Lausanne-Flon et la gare de Renens, ainsi que des commerces et des hautes écoles.</p>
        <p>Les transports publics se trouvent à quelques pas seulement et vous profitez ainsi d'excellentes correspondances. Le centre-ville est facilement accessible en quelques minutes en bus ou en tram, ce qui vous permet de découvrir rapidement et facilement le cœur de la ville. L’autoroute se situe non loin, à 5 minutes environ en voiture, ce qui en fait également un emplacement attractif pour les automobilistes. L'accès rapide et confortable au réseau autoroutier permet de gagner du temps et d'accéder sans problème aux villes et régions environnantes.</p>
      </div>

    {{ /partial:layout/inner }}

    {{ partial:layout/inner class="pb-20 md:pb-40 xl:pb-60" }}
      {{ partial:misc/map zoom="12" }}
    {{ /partial:layout/inner }}



  </section>
{{ /partial:layout/section }}