<div>
  <a name="{{ title }}" class="scroll-mt-25"></a>
  <h2 class="uppercase text-iron">{{ title }}</h2>
  {{ partial:components/table/table class="mb-20 lg:mb-40 !text-xxs" }}
    {{ partial:components/table/thead }}
    {{ apartments }}
      {{ partial:components/table/trow 
          filterable="true" 
          number="{{ ref_object }}" 
          state="{{ state:get :state="status" :reserved="reserved" key="true" }}" 
          rooms="{{ number_of_rooms_fixed ?? number_of_rooms }}" 
          floor="{{ floor }}" 
          building="{{ ref_house }}" }}
        {{ partial:components/table/tcell class="pr-5 sm:!pr-10" }}
          {{ ref_object }}
        {{ /partial:components/table/tcell }}
        {{ partial:components/table/tcell class="text-center" }}
          {{ floor }}
        {{ /partial:components/table/tcell }}
        {{ partial:components/table/tcell class="text-center" }}
        {{ if number_of_rooms_fixed }}
          {{ number_of_rooms_fixed }}
        {{ else }}
          {{ number_of_rooms }}
        {{ /if }}
        {{ /partial:components/table/tcell }}
        {{ partial:components/table/tcell class="text-center" }}
          {{ space_display }}
        {{ /partial:components/table/tcell }}
        {{ partial:components/table/tcell class="text-center sm:hidden lg:table-cell" }}
        {{ if {state:available :state="status" :reserved="reserved"} }}
          {{ rent_net | format_number(0, '.', '\'') }}
        {{ /if }}
      {{ /partial:components/table/tcell }}
        {{ partial:components/table/tcell class="text-center" }}
          {{ if {state:available :state="status" :reserved="reserved"} }}
            {{ rent_net | format_number(0, '.', '\'') }}
          {{ /if }}
        {{ /partial:components/table/tcell }}
        {{ partial:components/table/tcell class="text-center" }}
          {{ if {state:available :state="status" :reserved="reserved"} }}
            {{ rent_charges | format_number(0, '.', '\'') }}
          {{ /if }}
        {{ /partial:components/table/tcell }}
        {{ partial:components/table/tcell class="text-center" }}
          <a href="/assets/downloads/creative_factory_plan_{{ ref_object }}.pdf" target="_blank" title="Télécharger le plan {{ ref_object }}">
            {{ partial:icons/download }}
          </a>
        {{ /partial:components/table/tcell }}
        {{ partial:components/table/tcell class="text-right align-middle !pr-0" }}
          {{ if {state:available :state="status" :reserved="reserved"} }}
            <a 
              href="https://flatfox.ch/fr/listing{{ short_url }}submit/{{reference}}" 
              target="_blank"
              title="Jetzt auf Flatfox anmelden"
              class="text-white hover:brightness-110 bg-olive transition-all inline-flex items-center px-5 pt-6 pb-4 leading-none">
              Inscription
            </a>
          {{ else }}
            {{ state:get :state="status" :reserved="reserved" }}
          {{ /if }}
        {{ /partial:components/table/tcell }}
      {{ /partial:components/table/trow }}
    {{ /apartments }}
  {{ /partial:components/table/table }}
</div>