{{ partial:layout/grid class="sm:!gap-16 lg:!gap-20 mb-40 md:mb-60 lg:mb-80" }}

  {{ partial:layout/span class="lg:!col-span-3" }}
    <div class="uppercase font-bold text-base md:text-md mb-5 md:mb-10">Disponibilité</div>
    <div>
      <select 
        class="js-filter-attribute appearance-none bg-[url(../icons/chevron-down.svg)] bg-[length:15px_auto] bg-[right_1rem_top_0.9rem] bg-no-repeat !border-olive focus:border-olive !outline-none !ring-0 text-olive font-bold uppercase w-full px-8 pt-8 pb-4" 
        data-filterType="object-state" 
        aria-label="Disponibilité">
        <option value="NULL">Tous les appartements</option>
        <option value="free">libre</option>
        <option value="reserved">réservé</option>
        <option value="taken">loué</option>
      </select>
    </div>
  {{ /partial:layout/span }}
  
  {{ partial:layout/span class="lg:!col-span-3" }}
    <div class="uppercase font-bold text-base md:text-md mb-5 md:mb-10">Chambre</div>
    <div>
      <select 
        class="js-filter-attribute appearance-none bg-[url(../icons/chevron-down.svg)] bg-[length:15px_auto] bg-[right_1rem_top_0.9rem] bg-no-repeat !border-olive focus:border-olive !outline-none !ring-0 text-olive font-bold uppercase w-full px-8 pt-8 pb-4" 
        data-filterType="object-rooms" 
        aria-label="Chambre">
        <option value="NULL">Toutes les chambres</option>
        <option value="1.0">1</option>
        <option value="1.5">1.5</option>
        <option value="2.5">2.5</option>
        <option value="3.5">3.5</option>
        <option value="5.0">5.0</option>
        <option value="7.5">7.5</option>
      </select>
    </div>
  {{ /partial:layout/span }}

  {{ partial:layout/span class="lg:!col-span-3" }}
    <div class="uppercase font-bold text-base md:text-md mb-5 md:mb-10">Étage</div>
    <div>
      <select
        class="js-filter-attribute appearance-none bg-[url(../icons/chevron-down.svg)] bg-[length:15px_auto] bg-[right_1rem_top_0.9rem] bg-no-repeat !border-olive focus:border-olive !outline-none !ring-0 text-olive font-bold uppercase w-full px-8 pt-8 pb-4" 
        data-filterType="object-floor" 
        aria-label="Etage">
        <option value="NULL">Tous les étages</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
  {{ /partial:layout/span }}
  
  {{ partial:layout/span class="lg:!col-span-3 flex items-end" }}
    <button class="js-btn-reset bg-olive text-white font-bold uppercase w-full px-8 pt-11 pb-6 mt-8 lg:mt-0 flex items-center justify-start hover:brightness-110 transition-all">
      Réinitialiser
    </button>
  {{ /partial:layout/span }}

{{ /partial:layout/grid }}