{{ partial:layout/grid }}
    
  {{ partial:layout/span class="sticky md:relative top-0 z-50 bg-white md:!col-span-5 lg:!col-span-6 md:pt-30 lg:pt-50" }}
    {{ partial:objects/iso class="md:sticky md:top-120 w-full h-auto block overflow-visible" }}
    <table class="w-full text-sm mt-15 md:hidden">
      <thead class="border-b-2 border-b-crimson">
        <tr class="bg-white md:relative md:bg-transparent md:top-0 z-60 [&>th]:py-10 [&>th]:align-middle [&>th]:leading-none [&>th]:pr-5 [&>th]:font-bold [&>th:nth-child(odd)]:bg-white">
          <th class="text-left">Appt</th>
          <th class="text-left">Étage</th>
          <th class="text-left">Chambre</th>
          <th class="text-left">Sh m<sup>2</sup></th>
          <th class="text-left">Loyer net</th>
          <th class="text-left">Frais annexes</th>
          <th class="text-center">Plan&nbsp;de&nbsp;base</th>
          <th class="text-right">Inscription</th>
        </tr>
      </thead>
    </table>
  {{ /partial:layout/span }}

  {{ partial:layout/span class="!col-span-full md:!col-span-7 lg:!col-span-6 relative z-20" }}
    {{ nocache }}
      {{ apartments:get }}
        {{ partial:objects/building :apartments="apartments" }}
      {{ /apartments:get }}
    {{ /nocache }}
  {{ /partial:layout/span }}

{{ /partial:layout/grid }}