{{ partial:layout/grid }}
    
  {{ partial:layout/span class="sticky md:relative top-0 z-50 bg-white md:!col-span-6 2xl:!col-span-5" }}
    {{ partial:objects/iso class="md:sticky md:top-120 w-full h-auto block overflow-visible" }}
  {{ /partial:layout/span }}

  {{ partial:layout/span class="!col-span-full md:!col-span-6 2xl:!col-span-7 relative z-20" }}
    {{ nocache }}
      {{ apartments:get }}
        {{ partial:objects/building :apartments="apartments" }}
      {{ /apartments:get }}
    {{ /nocache }}
  {{ /partial:layout/span }}

{{ /partial:layout/grid }}