.iso-cls {
  isolation: isolate;
  fill: #fff;
  mix-blend-mode: multiply;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: .15px;
}

.iso-cls.is-active-free {
  fill: #8a995c !important;
}

.iso-cls.is-active-taken {
  fill: #c2403b !important;
}