
<select 
  name="interest-selector"  
  class="appearance-none bg-[url(../icons/chevron-down.svg)] bg-[length:15px_auto] bg-[right_1rem_top_0.9rem] bg-no-repeat !border-olive focus:border-olive !outline-none !ring-0 text-olive font-bold uppercase w-full px-8 pt-8 pb-4 js-apartments">
  <option value="">{{ placeholder }}</option>
  {{ if field == 'interest' }}
    <option value="Appartements 1 pièce">Appartements de 1 pièce</option>
    <option value="Appartements de 1.5 pièces">Appartements de 1.5 pièces</option>
    <option value="Appartements de 1.5+1 pièces">Appartements de 1.5+1 pièces</option>
    <option value="Appartements de 2.5 pièces">Appartements de 2.5 pièces</option>
    <option value="Appartements de 2.5+1 pièces">Appartements de 2.5+1 pièces</option>
    <option value="Appartements de 5 pièces">Appartements de 5 pièces</option>
    <option value="Appartements de 6.5+1 pièces">Appartements de 6.5+1 pièces</option>
    <option value="Commerces">Commerces</option>
    {{ apartments:get }}
      {{ apartments }}
        <option value="{{ object_type == "SHOP" ? "Commerce" : (object_type == "APARTMENT" ? "APPARTEMENT" : object_type) }} N° {{ ref_object }}" {{ value == ref_object ? 'selected' : ''}}>
          {{ object_type == "SHOP" ? "Commerce" : (object_type == "APARTMENT" ? "APPARTEMENT" : object_type) }} N° {{ ref_object }}
        </option>
      {{ /apartments}}
    {{ /apartments:get }}
  {{ /if }}
</select>