<thead class="border-b-2 border-b-crimson {{ class }}">
  <tr class="bg-white md:relative md:bg-transparent md:top-0 z-60 [&>th]:py-10 [&>th]:align-middle [&>th]:leading-none [&>th]:pr-5 [&>th]:font-bold ">
    <th class="text-left">Objets</th>
    <th class="text-center">Étage</th>
    <th class="text-center">Pièces</th>
    <th class="text-center">
      m<sup>2</sup>
    </th>
    <th class="text-center">
      Loyer
    </th>
    <th class="text-center">
      Charges
    </th>
    <th class="text-center hidden lg:table-cell">
      Loyer&nbsp;brut
    </th>
    <th class="text-center">
      Plan
    </th>
    <th class="text-right !pr-0">Inscription</th>
  </tr>
</thead>