<thead class="border-b-2 border-b-crimson {{ class }}">
  <tr class="bg-white md:relative md:bg-transparent md:top-0 z-60 [&>th]:py-10 [&>th]:align-middle [&>th]:leading-none [&>th]:pr-5 [&>th]:font-bold ">
    <th class="text-left">Appt</th>
    <th class="text-center">Étage</th>
    <th class="text-center">Chambre</th>
    <th class="text-center">
      <span class="hidden xl:inline">
        Sh m<sup>2</sup>
      </span>
      <span class="inline xl:hidden">
        m<sup>2</sup>
      </span>
    </th>
    <th class="text-left">
      <span class="hidden xl:inline">Loyer<br>net</span>
      <span class="inline xl:hidden">Loyer</span>
    </th>
    <th class="text-left">
      <span class="hidden xl:inline">Frais<br>annexes</span>
      <span class="inline xl:hidden">FA</span>
    </th>
    <th class="text-center">
      <span class="hidden xl:inline">
        Plan&nbsp;de&nbsp;base
      </span>
      <span class="inline xl:hidden">
        Plan
      </span>
    </th>
    <th class="text-right">Inscription</th>
  </tr>
</thead>