<thead class="border-b-2 border-b-crimson {{ class }}">
  <tr class="sticky top-260 bg-white md:relative md:bg-transparent md:top-0 z-60 [&>th]:py-10 [&>th]:align-middle [&>th]:leading-none [&>th]:pr-5 [&>th]:font-bold [&>th:nth-child(odd)]:bg-white">
    <th class="text-left">Appt</th>
    <th class="text-left">Étage</th>
    <th class="text-left">Chambre</th>
    <th class="text-left">Sh m<sup>2</sup></th>
    <th class="text-left">Loyer net</th>
    <th class="text-left">Frais annexes</th>
    <th class="text-center">Plan&nbsp;de&nbsp;base</th>
    <th class="text-right">Inscription</th>
  </tr>
</thead>